@model CategoryModel

<div class="form-group">

    <form method="post" asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        You want to delete: @Model.CategoryName?

        <span asp-validation-for="CategoryName" class="text-danger"></span>
        <span class="text-danger">@Html.ValidationMessage("CategoryReferenceError")</span>
        @Html.HiddenFor(c => c.Id)
        @Html.HiddenFor(c => c.CategoryName)

    <div>
        <input type="submit" class="btn btn-danger" value="Delete" />
        <input type="button"
               class="btn btn-primary"
               value="Back to categories"
               onclick="location.href='@Url.Action("Index", "Category")'" />
    </div>

    </form>
</div>