@model Library.Web.ViewModels.EditLibraryItemViewModel

@using (Html.BeginForm("Edit", "LibraryItem"))
{
    <div>
        <table width="50%">
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.AudioBook.Title)
                </td>
                <td>
                    @Html.EditorFor(m => m.AudioBook.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.AudioBook.ItemType)
                </td>
                <td>
                    <select asp-for="LibraryItemType" asp-items="@Html.GetEnumSelectList<LibraryItemType>()"></select>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.Categories.FirstOrDefault().CategoryName)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.AudioBook.CategoryId, new SelectList(Model.Categories, "Id", "CategoryName"))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.AudioBook.RunTimeMinutes)
                </td>
                <td>
                    @Html.EditorFor(m => m.AudioBook.RunTimeMinutes)
                </td>
            </tr>

            @if (Model.AudioBook.Borrower != null)
            {
                <tr>
                    <td>
                        @Html.DisplayNameFor(m => m.AudioBook.Borrower)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.AudioBook.Borrower)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(m => m.AudioBook.BorrowDate)
                    </td>
                    <td>
                        @Model.AudioBook.BorrowDate?.ToShortDateString()
                    </td>
                </tr>
            }

            @if (Model.AudioBook.IsBorrowable)
            {
                <tr>
                    <td>
                        Enter name: @Html.TextBoxFor(m => m.AudioBook.Borrower)
                    </td>
                    <td>
                        <input type="submit" name="submit" value="CheckOut" />
                    </td>
                </tr>
            }

            else
            {
                <tr>
                    <td>
                        <input type="submit" name="submit" value="CheckIn" />
                    </td>
                </tr>
            }
        </table>

        @Html.HiddenFor(m => m.AudioBook.Id)
        @Html.HiddenFor(m => m.AudioBook.IsBorrowable)
        @Html.HiddenFor(m => m.AudioBook.BorrowDate)
        @Html.HiddenFor(m => m.AudioBook.Borrower)
        
        <table>
            <tr>
                <td>
                    <input type="submit" name="submit" value="Edit" />
                </td>
            </tr>
        </table>
    </div>
}