@*@model Library.Web.ViewModels.EditLibraryItemViewModel

@using (Html.BeginForm("Edit", "LibraryItem"))
{
    <div>
        <table width="50%">
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.LibraryItem.Title)
                </td>
                <td>
                    @Html.EditorFor(m => m.LibraryItem.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.LibraryItem.ItemType)
                </td>
                <td>
                    <select asp-for="LibraryItem.ItemType" asp-items="@Html.GetEnumSelectList<LibraryItemType>()">
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.LibraryItem.Author)
                </td>
                <td>
                    @Html.EditorFor(m => m.LibraryItem.Author)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.LibraryItem.Pages)
                </td>
                <td>
                    @Html.EditorFor(m => m.LibraryItem.Pages)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.Categories.FirstOrDefault().CategoryName)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.LibraryItem.CategoryId, new SelectList(Model.Categories, "Id", "CategoryName"))
                </td>
            </tr>

            @if (Model.LibraryItem.Borrower != null)
            {
                <tr>
                    <td>
                        @Html.DisplayNameFor(m => m.LibraryItem.Borrower)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.LibraryItem.Borrower)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(m => m.LibraryItem.BorrowDate)
                    </td>
                    <td>
                        @Model.LibraryItem.BorrowDate.ToShortDateString()
                    </td>
                </tr>
            }

            @if (Model.LibraryItem.IsBorrowable)
            {
                <tr>
                    <td>
                        Enter name: @Html.TextBoxFor(m => m.LibraryItem.Borrower)
                    </td>
                    <td>
                        <input type="submit" name="submit" value="CheckOut" />
                    </td>
                </tr>
            }

            else
            {
                <tr>
                    <td>
                        <input type="submit" name="submit" value="CheckIn" />
                    </td>
                </tr>
            }
        </table>

        @Html.HiddenFor(m => m.LibraryItem.Id)
        @Html.HiddenFor(m => m.LibraryItem.IsBorrowable)
        @Html.HiddenFor(m => m.LibraryItem.BorrowDate)
        @Html.HiddenFor(m => m.LibraryItem.Borrower)

        <table>
            <tr>
                <td>
                    <input type="submit" name="submit" value="Edit" />
                </td>
            </tr>
        </table>
    </div>
}*@