@model Library.Web.ViewModels.CreateLibraryItemViewModel

<div class="dvd box">
    @using (Html.BeginForm("Create", "LibraryItem"))
    {
    <div>
        @Html.ValidationSummary(true, "ValidationSummary")
        <ol>
            <li>
                @Html.LabelFor(m => m.Dvd.Title)
                @Html.TextBoxFor(m => m.Dvd.Title)
                @Html.ValidationMessageFor(m => m.Dvd.Title)
            </li>
            <li>
                @Html.LabelFor(m => m.Dvd.RunTimeMinutes)
                @Html.EditorFor(m => m.Dvd.RunTimeMinutes)
                @Html.ValidationMessageFor(m => m.Dvd.RunTimeMinutes)
            </li>
        </ol>
        @Html.DropDownListFor(m => m.Dvd.CategoryId, new SelectList(Model.Categories, "Id", "CategoryName"))

        @for (int i = 0; i < Model.Categories.Count; i++)
        {
            @Html.HiddenFor(model => Model.Categories[i].CategoryName)
            @Html.HiddenFor(model => Model.Categories[i].Id)
        }

        <input type="hidden" name="selectedType" value="dvd" />
        <input type="submit" value="Create" />
    </div>
    }
</div>