@model Library.Web.ViewModels.EditLibraryItemViewModel

@using (Html.BeginForm("Edit", "LibraryItem"))
{
    <div>
        <table width="50%">
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.Dvd.Title)
                </td>
                <td>
                    @Html.EditorFor(m => m.Dvd.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.Dvd.Type)
                </td>
                <td>
                    @Model.Dvd.Type
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.Categories.FirstOrDefault().CategoryName)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.Dvd.CategoryId, new SelectList(Model.Categories, "Id", "CategoryName"))
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.Dvd.RunTimeMinutes)
                </td>
                <td>
                    @Html.EditorFor(m => m.Dvd.RunTimeMinutes)
                </td>
            </tr>

            @if (Model.Dvd.Borrower != null)
            {
                <tr>
                    <td>
                        @Html.DisplayNameFor(m => m.Dvd.Borrower)
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m.Dvd.Borrower)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(m => m.Dvd.BorrowDate)
                    </td>
                    <td>
                        @Model.Dvd.BorrowDate.ToShortDateString()
                    </td>
                </tr>
            }

            @if (Model.Dvd.IsBorrowable)
            {
                <tr>
                    <td>
                        Enter name: @Html.TextBoxFor(m => m.Dvd.Borrower)
                    </td>
                    <td>
                        <input type="submit" name="submit" value="CheckOut" />
                    </td>
                </tr>
            }

            else
            {
                <tr>
                    <td>
                        <input type="submit" name="submit" value="CheckIn" />
                    </td>
                </tr>
            }
        </table>

        @Html.HiddenFor(m => m.Dvd.Id)
        @Html.HiddenFor(m => m.Dvd.IsBorrowable)
        @Html.HiddenFor(m => m.Dvd.BorrowDate)
        @Html.HiddenFor(m => m.Dvd.Borrower)
        @Html.HiddenFor(m => m.Dvd.Type)

        <table>
            <tr>
                <td>
                    <input type="hidden" name="type" value="@Model.Dvd.Type" />
                    <input type="submit" name="submit" value="Edit" />
                </td>
            </tr>
        </table>
    </div>
}