@model Library.Web.ViewModels.CreateLibraryItemViewModel

<div class="referenceBook box">
    @using (Html.BeginForm("Create", "LibraryItem"))
    {
    <div>
        @Html.ValidationSummary(true, "ValidationSummary")
        <ol>
            <li>
                @Html.LabelFor(m => m.ReferenceBook.Title)
                @Html.TextBoxFor(m => m.ReferenceBook.Title)
                @Html.ValidationMessageFor(m => m.ReferenceBook.Title)
            </li>
            <li>
                @Html.LabelFor(m => m.ReferenceBook.Author)
                @Html.TextBoxFor(m => m.ReferenceBook.Author)
                @Html.ValidationMessageFor(m => m.ReferenceBook.Author)
            </li>
            <li>
                @Html.LabelFor(m => m.ReferenceBook.Pages)
                @Html.TextBoxFor(m => m.ReferenceBook.Pages, new { @type = "number" })
                @Html.ValidationMessageFor(m => m.ReferenceBook.Pages)
            </li>
        </ol>
        @Html.DropDownListFor(m => m.ReferenceBook.CategoryId, new SelectList(Model.Categories, "Id", "CategoryName"))

        @for (int i = 0; i < Model.Categories.Count; i++)
        {
            @Html.HiddenFor(model => Model.Categories[i].CategoryName)
            @Html.HiddenFor(model => Model.Categories[i].Id)
        }

        <input type="hidden" name="selectedType" value="referenceBook" />
        <input type="submit" value="Create" />
    </div>
    }
</div>