@model Library.Web.ViewModels.EditLibraryItemViewModel

@using (Html.BeginForm("Edit", "LibraryItem"))
{
    <div>
        <table width="50%">
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.ReferenceBook.Title)
                </td>
                <td>
                    @Html.EditorFor(m => m.ReferenceBook.Title)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.ReferenceBook.Type)
                </td>
                <td>
                    @Model.ReferenceBook.Type
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.ReferenceBook.Author)
                </td>
                <td>
                    @Html.EditorFor(m => m.ReferenceBook.Author)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.ReferenceBook.Pages)
                </td>
                <td>
                    @Html.EditorFor(m => m.ReferenceBook.Pages)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(m => m.Categories.FirstOrDefault().CategoryName)
                </td>
                <td>
                    @Html.DropDownListFor(m => m.ReferenceBook.CategoryId, new SelectList(Model.Categories, "Id", "CategoryName"))
                </td>
            </tr>
        </table>

        @Html.HiddenFor(m => m.ReferenceBook.Id)
        @Html.HiddenFor(m => m.ReferenceBook.IsBorrowable)
        @Html.HiddenFor(m => m.ReferenceBook.Type)

        <table>
            <tr>
                <td>
                    <input type="hidden" name="type" value="@Model.ReferenceBook.Type" />
                    <input type="submit" name="submit" value="Edit" />
                </td>
            </tr>
        </table>
    </div>
}